[submodule "fluentui-system-icons"]
	path = source/fluentui-system-icons
	url = https://github.com/microsoft/fluentui-system-icons.git
	update = none
[submodule "icon-development-kit-www"]
	path = source/icon-development-kit-www
	url = https://gitlab.gnome.org/Teams/Design/icon-development-kit-www.git
	update = none
[submodule "source/icon-development-kit"]
	path = source/icon-development-kit
	url = https://gitlab.gnome.org/Teams/Design/icon-development-kit.git
	update = none
